@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  /* Define new custom color */
  --color-snapmark-50: #e6efff;
  --color-snapmark-100: #cce0ff;
  --color-snapmark-200: #99c0ff;
  --color-snapmark-300: #66a1ff;
  --color-snapmark-400: #3381ff;
  --color-snapmark-500: #0062ff;
  --color-snapmark-600: #0041c5;  /* couleur principale du logo */
  --color-snapmark-700: #003399;
  --color-snapmark-800: #002266;
  --color-snapmark-900: #090537;  /* couleur foncée du logo */
  --color-snapmark-950: #05021f;
}

